*~
/target/
nbactions.xml
/route-optimization/target/
/geocoding/target/
/client/target/
/client-optimized/target/
/route-optimization-examples/target/
.idea/
*iml
.settings/
.classpath
.project

swagger-codegen/
swagger-codegen-cli.jar
swagger-codegen-cli*.jar